
<section class="vh-100 gradient-custom">

  <div class="card-body p-5 text-center" style="width: 500px; margin-left:500px;margin-bottom:50px">

    <h1 class="mb-5" style="margin-top:100px ;">Sign in</h1>

    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="faical@gmail.com or miss douar email" value="">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Ex. faicalruel987$" value="">
      </mat-form-field>

    </form>

    <button mat-button>Login</button>

  </div>
</section>
