.gradient-custom {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(37, 87, 252))
}

label
{
  color:black;
  position: relative;
  top: 20px;
}
button{
  background-color: lightgreen;
  height: 50px;
  width: 100px;
}
.example-full-width{
  margin-right: 10px;
  width: 350px;
}
