<!-- Navbar -->
<nav class="navbar navbar-expand-lg" style="background-color:lightslategrey;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarExample01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a href="#" class="nav-link">Faiçal W3D Website</a>
        </li>

        <li class="nav-item">
          <a routerLink="/teacher-space" class="nav-link">Teacher space</a>
        </li>

        <li routerLink="active" class="nav-item">
          <a routerLink="/my-space" class="nav-link">My space</a>
        </li>
        <span>
          <li routerLink="active" class="nav-item">
            <a routerLink="/auth" class="nav-link">Sign in</a>
          </li>
        </span>
        <span>
          <li class="nav-item">
            <a routerLink="/auth" (click)="logout()" class="nav-link">Logout</a>
          </li>
        </span>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->
