<mat-tab-group mat-align-tabs="center" style="background-color:rgb(255, 255, 255);" >
  <mat-tab label="Blender">

    <div class="bg-image p-5 text-center"
      style="background-image: url('{{blender_image_src}}'); height:650px;background-size:cover;margin: 0; height: 100%; overflow: hidden">
      <h1 class="mb-3 h2">Blender HomeWork</h1>

      <div class="container">
        <div class="row">
          <div class="col-md">

            <div class="card">
              <div class="card-body">
                <div class="card" style="height: 150px;width:350px;position:relative;top:10%">
                  <ul class="list-group list-group-light" *ngFor="let item of myBlenderExamples">
                    <li class="list-group-item px-3">alias Tp : {{item.name}}</li>
                    <li class="list-group-item px-3">fais le : {{item.date}} </li>
                    <li class="list-group-item px-3">
                      <p class="card-text">
                        task about getting started with blender and making some 3d shapes do disply later on in web page
                      </p>
                    </li>
                    <li class="list-group-item px-3"><a href="{{item.linkToDownload}}"
                        class="btn btn-primary stretched-link">Get Homework
                      </a>
                      <img class="img-fluid rounded"
                        src="https://drive.google.com/uc?export=view&id={{item.imagePath}}">

                    </li>
                  </ul>
                </div>
              </div>
            </div>


          </div>


        </div>
      </div>

    </div>

  </mat-tab>

  <mat-tab label="Unity & C#">

    <div class="bg-image p-5 text-center"
      style="background-image: url('{{unity_image_src}}'); height:650px;background-size:cover;margin: 0; height: 100%; overflow: hidden">
      <h1 class="mb-3 h2">Unity HomeWork</h1>

      <div class="container">
        <div class="row">
          <div class="col-md">

            <div class="card">
              <div class="card-body">
                <div class="card" style="height: 150px;width:350px;position:relative;top:10%">
                  <ul class="list-group list-group-light" *ngFor="let item of myUnityExamples">
                    <li class="list-group-item px-3">alias Tp : {{item.name}}</li>
                    <li class="list-group-item px-3">fais le : {{item.date}} </li>
                    <li class="list-group-item px-3">
                      <p class="card-text">
                        task about getting started with blender and making some 3d shapes do disply later on in web page
                      </p>
                    </li>
                    <li class="list-group-item px-3"><a href="{{item.linkToDownload}}"
                        class="btn btn-primary stretched-link">Get Homework
                      </a>
                      <img class="img-fluid rounded"
                        src="https://drive.google.com/uc?export=view&id={{item.imagePath}}">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </mat-tab>


</mat-tab-group>
